.quali-text{
  font-size: 15px;  
  top: 10px;
}
.quali-container{
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80%;
    width: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
    
margin-top: 15px;
user-select: none;
}
.quali-container .quali{
    position: relative;
    height: 550px;
    min-height: 40%;
    background: rgb(9,6,31);
    border-radius: 20px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
   
}


.quali-container .quali .content{
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
    
}
.quali-container .quali .content.html{
    background: url(../props/html.png);
    background-position: center;
    background-size: 60px;
}
.quali-container .quali .content h1{
    font-size: 30px;
    margin: 30rem 5rem;
  

}
.quali-container .quali .content.css {
    background: url(../props/css.png);
    background-position: center;
    background-size: 60px;
}
.quali-container .quali .content.js {
    background: url(../props/js.png);
    background-position: center;
    background-size: 90px;
}
.quali-container .quali .content.bootstrap {
    background: url(../props/bootstrap.png);
    background-position: center;
    background-size: 90px;
}
.quali-container .quali .content.react {
    background: url(../props/react.png);
    background-position: center;
    background-size: 90px;
}
.quali-container .quali .content.nextjs {
    background: url(../props/next.svg);
    background-position: center;
    background-size: 60px;
}
.quali-container .quali .content.canvas {
    background: url(../props/canvas.png);
    background-position: center;
    background-size: 60px;
}
.quali-container .quali .content.node {
    background: url(../props/node.png);
    background-position: center;
    background-size: 180px;
}