.members-txt{
    font-size: 20px;
    top: 10px;
    font-weight: 100;
}

.members-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 10px;
}
.members-container .member{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: rgba(0,0,0, 0.014);
    padding: 20px;
    border-radius: 50%;
}
.members-container .member .member-img{
    height:340px;
    width: 250px;
    border-radius: 40px;
    /* background: url(../props/css.png); */
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);
}

.members-container .member .member-info{
    margin-left: 50px;
    font-family: 'Open Sans Condensed';
    max-width:50%;

} 
.members-container .member .member-info .name{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Inter';
}
@media screen and (max-width: 500px){
.members-container .member .member-info .name {
    font-size: 40px;
}
}
.members-container .member .member-info .position{
font-size: 14px;
font-weight: 700;
letter-spacing: 4px;
font-family: "Roboto", "Helvetica", "Arial";
text-transform: uppercase;
margin-top: 5px;
opacity: 0.8;
}
.members-container .member .member-info .about {
    font-size: 17px;
    font-weight: 100;
    margin-top: 40px;
    font-family: 'Inter';
}
.members-container .member .member-info .contact-member {
    font-size: 18px;
    font-weight: 100;
    margin-top: 50px;
    background: var(--color-sec-light);
    padding: 17px 35px;
    border-radius: 50px;
    position: absolute;
    transition: .2s ease;
    font-family: "Inter";

}

.members-container .member .member-info .contact-member:hover{
    background: transparent;
    border: 2px solid var(--color-sec-light);
}
